#fh5co-intro .fh5co-block.intro-image {
    border-top-left-radius: 2%;
    border-bottom-left-radius: 2%;
}
#fh5co-intro .fh5co-block.intro-text {
    border-top-right-radius: 2%;
    border-bottom-right-radius: 2%;
    text-align: justify;
}

#fh5co-services .image-grid {
    padding-left: 10px;
    padding-right: 0;
}

#fh5co-services .image-grid a {
    display: block;
    max-height: 239px;
    overflow: hidden;
}

.testimonials2 {
    display: none;
}

.section-heading {
    margin-bottom: 0;
}

.animated-slow {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
}

#services-more-items-toggle {
    color: #fff;
}

#fh5co-testimonials {
    margin-bottom: 2em;
}
#fh5co-testimonials .box-testimony {
    margin-bottom: 0em;
    float: left;
}

label.required-fields {
    font-weight: normal;
}

@media screen and (max-width: 480px) {
    #fh5co-services .image-grid {
        padding-right: 10px;;
    }

    .fh5co-person {
        margin-bottom: 1em;
    }
    .fh5co-person figure img {
        width: 80px;
        margin-left: 20px;
    }
}