	<section id="fh5co-home" data-section="home" style="background-image: url(profile_bg.jpg);background-position:center!important;" >
		<div class="gradient"></div>
		<div class="container">
			<div class="text-wrap">
				<div class="text-inner">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<h1 class="to-animate" style="font-size:60px">{{ with .Site.Params.hero.title }}{{ . | markdownify }}{{ end }}</h1>
							<h2 class="to-animate">{{ with .Site.Params.hero.subtitle }}{{ . | markdownify }}{{ end }}</h2>
							<div class="to-animate" style="margin-top:20px;font-style:italic;font-size: 86%">
								{{ with .Site.Params.hero.quote }}{{ . | markdownify }}{{ end }}
								<div style="text-align:right;font-style:italic">{{ with .Site.Params.hero.author }}{{ . | markdownify }}{{ end }}</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="slant"></div>
	</section>