	<section id="fh5co-services" data-section="services">
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="to-animate">{{ with .Site.Params.services.title }}{{ . }}{{ end }}</h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 subtext to-animate">
							<h3>{{ with .Site.Params.services.description }}{{ . | markdownify }}{{ end }}</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="row row-bottom-padded-sm">
			{{ range $index, $item := .Site.Params.services.item }}
				<div class="col-md-4 col-sm-6 col-xxs-12 image-grid" style="margin-bottom:10px;{{if lt 1000 $index }}display:none{{end}}">
					<a href="{{ $item.img }}" class="fh5co-project-item image-popup to-animate image-grid-item">
						<img src="{{ with $item.thumb }}{{.}}{{else}}{{ $item.img }}{{end}}" alt="{{ .alt }}" class="img-responsive">
					</a>
				</div>
				<div class="clearfix visible-sm-block"></div>
			{{ end }}
			</div>
			<div class="row">
				<div class="col-md-12 text-center to-animate">
					<p>{{ .Site.Params.work.footertext | markdownify }}</p>
				</div>
			</div>
		</div>
	</section>