	<section id="fh5co-testimonials" data-section="testimonials">
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="to-animate">{{ with .Site.Params.testimonials.title }}{{ . | markdownify }}{{ end }}</h2>
				</div>
			</div>
			<div class="row">
			{{ range .Site.Params.testimonials.item }}
				<div class="col-md-12 testimonial">
					<div class="box-testimony">
						<blockquote class="to-animate-2 animated-slow">
							<p>&ldquo; {{ .quote | markdownify}} &rdquo;</p>
						</blockquote>
						<div class="author to-animate animated-slow">
							<figure><img src="images/{{ .img }}" alt="{{ .alt }}"></figure>
							<p>{{ .person | markdownify }}</p>
						</div>
					</div>
				</div>
			{{ end }}
			<div class="col-md-12 text-right">
				<a href="#"><h4 id="testimonials-more-items" class="to-animate">Autres témoignages</h4></a>
			</div>
			</div>
		</div>
	</section>